@font-face {
    font-family: 'Lexend Deca';
    src: url('LexendDeca-Regular.eot');
    src: url('LexendDeca-Regular.eot?#iefix') format('embedded-opentype'),
        url('LexendDeca-Regular.woff') format('woff'),
        url('LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

